body {
    background-image: url("\GitHub Repos\Proiect-ASP.NET\RecipesAppAng\src\assets\WelcomePage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1024px
  }

  
  
